:root {
  scroll-behavior: initial;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

ol,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
body {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  background: #04080f;
  text-decoration: none;
  height: 100%;
  width: 100%;
}
.main-wrpper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.select2-container--open .select2-dropdown--below {
  border-top: 2px solid #ff007a !important;
  border-top-left-radius: 16px !important;
  border-top-right-radius: 16px !important;
}
.select2-search--dropdown {
  padding: 2rem !important;
  margin-bottom: 0 !important;
}

.select2-results {
  padding: 2rem !important;
}
.token-name {
  font-size: 25px;
  margin-left: 10px;
  margin-right: 10px;
}
a {
  transition: 0.4s linear;
  -webkit-transition: 0.4s linear;
  text-decoration: none;
}

::selection {
  color: #fff;
  background: #ff1a88;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: 1640px;
}
.select-token-wrapper img {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
}

.select-token-wrapper span {
  font-size: 24px;
}

/* **** Header **** */
header {
  position: relative;
  top: 0px;
  left: 0;
  right: 0;
  padding: 30px 0;
  z-index: 120;
  transition: 0.4s linear;
  -webkit-transition: 0.4s linear;
}
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin-left: 0;
}
.navbar-brand {
  float: none;
  height: auto;
  padding: 0;
  margin-right: 86px;
}
.navbar-brand img {
  width: 100px;
}
.navbar {
  background: transparent;
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  z-index: 120;
  transition: 0.4s linear;
  -webkit-transition: 0.4s linear;
}
.navbar-light .right-navbar-nav {
  margin-left: auto;
}
.navbar-light .navbar-nav li {
  margin-right: 0;
}
.navbar-light .navbar-nav li:last-child {
  margin-right: 0;
}
.navbar-light .navbar-nav .nav-link {
  padding: 12px 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.navbar-light .navbar-nav .nav-link.publish-btn {
  background: linear-gradient(89.83deg, #d065d8 8.99%, #ff60a0 99.84%);
  border-radius: 16px;
  color: #fff;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 600;
  width: 220px;
  text-align: center;
  border: none;
}
.navbar-light .navbar-nav .nav-link.publish-btn:hover {
  background: #fff;
  color: #d065d8;
}

.navbar-expand-md .navbar-nav {
  align-items: center;
  margin: auto;
}
.navbar-expand-md .navbar-nav.right-navbar-nav {
  margin: 0;
  margin-left: auto;
}
.navbar-expand-md .navbar-nav li {
  line-height: 0;
}

.navbar .navbar-nav li .nav-link.active {
  color: #ff60a0;
}
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:hover {
  color: #ff60a0;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .active > a:hover {
  color: #ff60a0;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #ff60a0;
}
.navbar .navbar-nav > li > a.order-btn:hover {
  background-color: #333;
  color: #fff;
}

/* **** toggler **** */
.navbar-light .navbar-toggler {
  background-color: transparent;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  border: none;
  height: 40px;
  width: 35px;
  padding: 0;
}
.navbar-light .navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}
.navbar-light .navbar-toggler .navbar-toggler-icon {
  background-image: unset;
}
.navbar-toggler:active,
.navbar-toggler:focus {
  outline: none;
}
.navbar-light .navbar-toggler-icon {
  width: 13px;
  height: 18px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #ff1a88;
  transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
  width: 19px;
  position: absolute;
  height: 2px;
  background-color: #ff1a88;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:before {
  width: 13px;
}
.navbar-light .navbar-toggler-icon:after {
  top: 8px;
  left: -3px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  width: 20px;
  top: 6px;
  left: 0;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  width: 20px;
  top: -2px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

.btn-main {
  padding: 15px 15px;
  width: 250px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  position: relative;
  background: linear-gradient(89.83deg, #d065d8 8.99%, #ff60a0 99.84%);
  font-family: "DM Sans";
  border-radius: 16px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  display: block;
}
.btn-main:before {
  position: absolute;
  content: "";
  background: #04080f;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border-radius: 16px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn-main span {
  position: relative;
  z-index: 5;
}
.btn-main:hover {
  color: #fff;
}
.btn-main:hover:before {
  background: linear-gradient(89.83deg, #d065d8 8.99%, #ff60a0 99.84%);
}

.on-off-toggle {
  width: 50px;
  height: 24px;
  position: relative;
  display: inline-block;
  margin-left: 16px;
  display: none;
}
.navbar-nav .on-off-toggle {
  display: block;
}
.on-off-toggle__slider {
  width: 50px;
  height: 24px;
  display: block;
  background: #dbdbdb;
  border: 1px solid #d3d3d3;
  box-sizing: border-box;
  border-radius: 12px;
  transition: background-color 0.4s;
  position: relative;
  cursor: pointer;
}
.on-off-toggle__slider:before {
  content: "";
  display: block;
  background: linear-gradient(89.83deg, #d065d8 8.99%, #ff60a0 99.84%);
  bottom: 3px;
  height: 16px;
  width: 16px;
  left: 3px;
  position: absolute;
  transition: 0.4s;
  z-index: 5;
  border-radius: 100%;
  transform: unset;
}
.on-off-toggle__slider:after {
  position: absolute;
  display: block;
  font-weight: bold;
  background-image: url(/assets/images/sun-icon.svg);
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  color: #484848;
  height: 14px;
  width: 14px;
  top: 50%;
  right: 5px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  transition: all 0.4s;
}

.on-off-toggle__input {
  position: absolute;
  opacity: 0;
}

.on-off-toggle__input:checked + .on-off-toggle__slider {
  background: #13131b;
  border: 1px solid #22202c;
}
.on-off-toggle__input:checked + .on-off-toggle__slider:before {
  transform: translateX(26px);
}
.on-off-toggle__input:checked + .on-off-toggle__slider:after {
  background-image: url(/assets/images/moon-icon.svg);
  color: #ffffff;
  padding-left: 8px;
  left: 5px;
}
a.btn-main.publish-btn {
  display: none;
}
/* **** End Header **** */

/* **** Home Page **** */
.hero-wrapper {
  padding: 250px 0 120px;
  position: relative;
  width: 100%;
}
.hero-data h1 {
  font-size: 114px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 35px;
}
.hero-data h1 span {
  display: block;
  background: linear-gradient(89.83deg, #d065d8 8.99%, #ff60a0 99.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.hero-data p {
  font-size: 31px;
  font-weight: normal;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  line-height: 49px;
  width: 35%;
}

.counter-row {
  padding: 45px;
  border-radius: 16px;
  width: 100%;
  background: #0e0d17;
}
.counter-rwbx {
  width: 70%;
  margin: 0 auto;
}
.count-box {
  text-align: center;
}
.count-box h2 {
  font-size: 43px;
  font-weight: 600;
  color: #fff;
  line-height: 43px;
  text-align: center;
  margin: 0 0 15px;
}
.count-box p {
  font-size: 19px;
  font-weight: normal;
  background: linear-gradient(89.83deg, #d065d8 8.99%, #ff60a0 99.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin: 0;
}

.protocol-wrp {
  padding: 110px 0 75px;
  width: 100%;
  position: relative;
}
.protocol-wrp .container {
  width: 1140px;
  max-width: 1140px;
}

.protocol-data h3 {
  font-size: 32px;
  font-weight: bold;
  color: #ff1a88;
  text-align: center;
  margin: 0 0 20px;
  font-family: "DM Sans";
}
.protocol-data h4 {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  margin: 0 0 10px;
  font-family: "DM Sans";
}
.protocol-data p {
  font-size: 22px;
  font-weight: normal;
  color: #f9f9f9;
  line-height: 36px;
  text-align: center;
  margin: 0 0 40px;
}
.protocol-data .btn-main {
  margin: 0 auto;
}
.protocol-img img {
  width: 100%;
}
.protocol-row {
  margin: 0 0 35px;
}
.evenrow .protocol-data {
  padding: 60px 0 0;
}
.evenrow .protocol-img img {
  width: 80%;
}

.protocol-governance-wrp {
  padding: 0 0 100px;
  position: relative;
  background: url(/assets/images/protocol-back.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 0 80px;
}
.protocol-governance-wrp .container {
  width: 1140px;
  max-width: 1140px;
}
.protocol-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 0 185px;
}
.prouserlinks {
  width: 700px;
}
.prouserlinks h6 {
  font-size: 24px;
  font-weight: normal;
  color: #fff;
  font-style: italic;
  font-family: "DM Sans";
  margin: 0 0 15px;
}
.polinksrow {
  display: flex;
  align-items: center;
}
.polinksrow a {
  font-size: 64px;
  font-weight: 600;
  color: #fff;
  line-height: 72px;
  display: flex;
  align-items: center;
  margin-right: 60px;
}
.polinksrow a:last-child {
  margin: 0;
}
.polinksrow a img {
  width: 25px;
}
.polinksrow a span {
  border-bottom: 3px solid #fff;
  margin-right: 10px;
  transition: 0.4s linear;
  -webkit-transition: 0.4s linear;
}
.polinksrow a:hover {
  color: #d065d8;
}
.polinksrow a:hover span {
  border-bottom: 3px solid #d065d8;
}

.protocol-content {
  padding: 65px;
  background: #0e0d17;
  border-radius: 16px;
  box-shadow: 0px 0px 21px -6px #ff007a;
}
.protocol-content h2 {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  line-height: 48px;
  font-family: "DM Sans";
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 35px;
}
.protocol-content h3 {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  font-family: "DM Sans";
  text-align: center;
  margin: 0 0 25px;
}
.protocol-content p {
  font-size: 22px;
  font-weight: normal;
  color: #fff;
  line-height: 32px;
  text-align: center;
  margin: 0 0 45px;
}
.btn-read {
  padding: 13px 60px;
  background: linear-gradient(89.83deg, #d065d8 8.99%, #ff60a0 99.84%);
  border-radius: 16px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin: 0 auto;
  display: table;
}
.btn-read:hover {
  background: #fff;
  color: #ff60a0;
}

.protocol-govern-tabs {
  padding-left: 30px;
}
.protocol-govern-tabs .nav-tabs {
  border: none;
  display: block;
}
.protocol-govern-tabs .nav-tabs li {
  margin: 0 0 25px;
  width: 100%;
}
.protocol-govern-tabs .nav-tabs li:last-child {
  margin: 0;
}
.protocol-govern-tabs .nav-tabs li a {
  padding: 25px 35px;
  display: block;
  border: 1px solid #ff60a0;
  border-radius: 16px;
  background: transparent;
}
.protocol-govern-tabs .nav-tabs li a h4 {
  font-size: 23px;
  font-weight: 500;
  color: #fff;
  font-family: "DM Sans";
  margin: 0 0 10px;
  display: flex;
  align-items: center;
}
.protocol-govern-tabs .nav-tabs li a h4 img {
  margin-left: 15px;
}
.protocol-govern-tabs .nav-tabs li a h4 img.nrm-act {
  display: none;
}
.protocol-govern-tabs .nav-tabs li a p {
  margin: 0;
  font-size: 23px;
  font-weight: 500;
  color: #fff;
  font-family: "DM Sans";
  line-height: 32px;
}
.protocol-govern-tabs .nav-tabs .nav-item.show .nav-link,
.protocol-govern-tabs .nav-tabs .nav-link.active {
  background: #0f131e;
  border: 1px solid #fff;
}
.protocol-govern-tabs .nav-tabs .nav-item.show .nav-link img.nrm-act,
.protocol-govern-tabs .nav-tabs .nav-link.active img.nrm-act {
  display: block;
}
.protocol-govern-tabs .nav-tabs .nav-item.show .nav-link img.nrmimg,
.protocol-govern-tabs .nav-tabs .nav-link.active img.nrmimg {
  display: none;
}

footer {
  padding: 30px 0;
  width: 100%;
}
.social-bx {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-bx a {
  margin-right: 35px;
}
.social-bx a img {
  width: 27px;
  transition: 0.4s linear;
}
.social-bx a:last-child {
  margin: 0;
}
.social-bx a:hover img {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}
.quicklink {
  margin: 30px 0 0;
}
.quicklink ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.quicklink ul li {
  margin-right: 25px;
}
.quicklink ul li:last-child {
  margin: 0;
}
.quicklink ul li a {
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  display: block;
}
.quicklink ul li a:hover {
  color: #ff1a88;
}
/* **** End Home Page **** */

/* **** Protocol Page **** */
.indopbtn {
  position: relative;
  padding: 14px 15px;
}
.indopbtn:after {
  position: absolute;
  content: "";
  background: #04080f;
  border-radius: 16px;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
}
.indopbtn span {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  width: 100%;
}
.indopbtn span i {
  margin-left: auto;
}

.pro-inner-wrp {
  padding: 100px 0 400px;
  width: 100%;
  position: relative;
}
.protocol-tabs-bx {
  width: 890px;
  margin: 0 auto 60px;
}
.protocol-tabs-bx .nav-tabs {
  border: none;
  border-radius: 16px;
  background: #0e0d17;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}
.protocol-tabs-bx .nav-tabs li {
  width: 25%;
}
.protocol-tabs-bx .nav-tabs li:first-child {
  width: 37.5%;
}
.protocol-tabs-bx .nav-tabs li:last-child {
  width: 37.5%;
}
.protocol-tabs-bx .nav-tabs li a {
  padding: 15px 50px;
  border-radius: 0;
  border: none;
  font-size: 32px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.protocol-tabs-bx .nav-tabs li a:after {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background: linear-gradient(89.83deg, #d065d8 8.99%, #ff60a0 99.84%);
  right: 0;
  top: 0;
}
.protocol-tabs-bx .nav-tabs li:first-child a {
  text-align: right;
}
.protocol-tabs-bx .nav-tabs li:last-child a {
  text-align: left;
}
.protocol-tabs-bx .nav-tabs li:last-child a:after {
  display: none;
}
.protocol-tabs-bx .nav-tabs .nav-item.show .nav-link,
.protocol-tabs-bx .nav-tabs .nav-link.active {
  background: linear-gradient(89.83deg, #d065d8 8.99%, #ff60a0 99.84%);
  color: #fff;
}
/* **** End Protocol Page **** */

/* **** inner-prodata ***** */
.swap-block {
  max-width: 882px;
  background: #0e0d17;
  box-shadow: 0px 0px 21px -6px #ff007a;
  border-radius: 16px;
  margin: 0 auto;
  padding: 122px 64px;
  position: relative;
}
.swap-block .setting-drop {
  position: absolute;
  right: 23px;
  top: 23px;
}
.swap-block .setting-drop .btn-group {
  position: relative;
}
.swap-block .btn-group .dropdown-toggle {
  background: transparent;
  border: none;
  padding: 0;
}
.swap-block .btn-group .dropdown-toggle:after {
  display: none;
}
.swap-block .btn-group .dropdown-menu {
  background: linear-gradient(89.83deg, #d065d8 8.99%, #ff60a0 99.84%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    -12px 12px 8.34467px rgba(0, 0, 0, 0.25);
  border-radius: 17.037px;
  left: auto !important;
  right: 0 !important;
  padding: 3px;
  width: 100%;
  max-width: 100% !important;
  min-width: 460px;
}
.dropdown-block {
  width: 453px;
  background: #0d0d0d;
  border-radius: 17.037px;
  padding: 40px;
}
.dropdown-block h2 {
  font-weight: 600;
  font-size: 24px;
  display: flex;
  align-items: center;
  color: #deddea;
  margin: 0 0 17px;
}
.inner-prodata .dropdown-block .form-group {
  margin: 0 0 17px;
}
.dropdown-block .form-group label {
  font-weight: 400;
  font-size: 20px;
  align-items: center;
  color: #ffffff;
  margin: 0 0 15px;
}
.inner-prodata .dropdown-block .form-group .slippage-input {
  display: flex;
  align-items: center;
}
.inner-prodata .dropdown-block .form-group .slippage-input .btn-main {
  font-size: 16px;
  margin-right: 16px;
}
.inner-prodata .dropdown-block .form-group .slippage-input label {
  margin-left: 16px;
}
.inner-prodata .dropdown-block .form-group .form-control {
  border: 1px solid #d5d6d8;
  border-radius: 16px;
  font-weight: 400;
  font-size: 16px;
  text-align: right;
  color: #808081;
  padding: 15px 20px;
}

.swap-box {
  padding: 35px 55px;
  background: #04080f;
  border-radius: 16px;
  position: relative;
}
.swap-box h4 {
  margin: 0;
  font-weight: 600;
  font-size: 40px;
  display: flex;
  align-items: center;
  color: #deddea;
  margin: 0;
}
.swap-box h4 small {
  font-size: 26.4965px;
  padding-left: 40px;
}
.swap-box h4 span {
  font-size: 26.4965px;
  margin-left: auto;
  margin-right: 0;
}
.swap-arrrow a {
  background: linear-gradient(89.83deg, #d065d8 8.99%, #ff60a0 99.84%);
  border: 2px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  height: 75px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 40px;
  margin: -26px auto;
  position: relative;
  z-index: 5;
}
.inner-prodata .form-group {
  margin: 0 0 63px;
}
.inner-prodata .form-group .form-control {
  background-color: #0e0d17;
  width: auto;
  padding: 0 35px 0 0;
  height: auto;
  box-shadow: none;
  outline: none;
  font-weight: 600;
  font-size: 36px;
  display: flex;
  align-items: center;
  color: #deddea;
  border-radius: 0;
  border: none;
}
select.form-control {
  width: 100%;
  display: inline-block;
  margin: 0 0;
  -webkit-appearance: none;
  background-image: url(/assets/images/arrow.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: right 26px;
}

.swap-info {
  padding: 25px 55px;
  border: 1.67045px solid #f9f9f9;
  border-radius: 16px;
  margin: 26px 0 36px;
  display: flex;
  align-items: center;
}

.swap-info h5 {
  font-weight: 700;
  font-size: 26.4965px;
  line-height: 42px;
  color: #f9f9f9;
  margin: 0;
}
.inner-prodata .swap-info .form-group {
  margin: 0 0 0 auto;
}
.inner-prodata .swap-info .form-group .form-control {
  font-size: 26.4965px;
  line-height: 42px;
}
.inner-prodata .swap-info .form-group select.form-control {
  background-position: right 19px;
}
.inner-prodata .swap-block .btn-main {
  font-size: 35px;
  text-align: center;
  display: block;
  text-align: center;
  width: 100%;
}
.inner-prodata .swap-block .btn-main:before {
  opacity: 0;
  visibility: hidden;
}
.inner-prodata .swap-block .btn-main:hover:before {
  opacity: 1;
  background: #000;
  visibility: visible;
}
/* **** End inner-prodata ***** */
.toggle-box {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 0 14px;
}
.toggle-box h5 {
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  margin: 0;
}
.toggle-label {
  position: relative;
  display: block;
  width: 72px;
  height: 25px;
  background: #deddea;
  border-radius: 16.9412px;
  margin-left: auto;
  margin-right: 0;
}
.toggle-label input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.toggle-label input[type="checkbox"] + .back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #deddea;
  border-radius: 16.9412px;
  transition: background 150ms linear;
}

.toggle-label input[type="checkbox"] + .back .toggle {
  display: block;
  position: absolute;
  content: " ";
  background: #fff;
  width: 50%;
  height: 100%;
  transition: margin 150ms linear;
  border-radius: 0;
  background: linear-gradient(89.83deg, #d065d8 8.99%, #ff60a0 99.84%);
  border-radius: 16.9412px;
}
.toggle-label input[type="checkbox"]:checked + .back .toggle {
  margin-left: 36px;
  background: #04080f;
}
.toggle-label .label {
  display: block;
  position: absolute;
  width: 50%;
  color: #ddd;
  text-align: center;
  font-weight: 400;
  font-size: 10.5882px;
  line-height: 25px;
  color: #0d0d0d;
}
.toggle-label .label.on {
  left: 0px;
}
.toggle-label .label.off {
  right: 0px;
}
.toggle-label input[type="checkbox"] + .back .label.off {
  color: #fff;
}
/* **** ENd toggle **** */

.pool-wrp {
  padding: 130px 0 0;
}
.pool-wrp .pool-head {
  border: 2px solid #ffffff;
  border-bottom: none;
  border-radius: 0px;
  padding: 25px;
}
.pool-wrp .pool-box .pool-head .row {
  align-items: center;
}
.pool-wrp .pool-box .pool-head h4 {
  font-weight: 600;
  font-size: 24px;
  display: flex;
  align-items: center;
  color: #deddea;
  margin: 0;
}
.pool-wrp .pool-box .pool-head h4 span {
  height: 47px;
  width: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-right: 16px;
}
.pool-wrp .pool-box .pool-head h4 span img {
  max-width: 100%;
}
.pool-wrp .pool-box .pool-head a.collapse-txt {
  font-weight: 600;
  font-size: 24px;
  color: #deddea;
  display: block;
  text-align: right;
}
.pool-wrp .pool-box .pool-head ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.pool-wrp .pool-box .pool-head ul li {
  width: 25%;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  min-height: 96px;
}
.pool-wrp .pool-box .pool-head ul li strong {
  display: block;
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
}
.pool-wrp .pool-box .pool-head ul li span {
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}
.pool-wrp .pool-box-last .pool-head {
  border-bottom: 2px solid #fff;
}

.pool-wrp .card.card-body {
  padding: 0;
  background: #0e0d17;
  border-radius: 0;
  padding: 35px 40px 35px;
}

.pool-wrp .card.card-body .fee-info {
  padding-left: 40px;
}
.pool-wrp .card.card-body .fee-info h5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 35px;
  color: #deddea;
  margin: 0;
  display: flex;
  align-items: center;
}
.pool-wrp .card.card-body .fee-info h5 span {
  font-weight: 400;
  font-size: 20px;
  line-height: 42px;
  color: #484848;
  margin-left: auto;
}
.pool-wrp .card.card-body .fee-info a {
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  text-decoration: underline;
  color: #deddea;
  display: block;
}
.pool-wrp .card.card-body .fee-info a:hover {
  color: #ff60a0 !important;
}

.profit-box {
  border: 1px dashed #ffffff;
  border-radius: 16px;
  padding: 20px 30px;
}
.profit-box h2 {
  font-weight: 600;
  font-size: 20px;
  color: #d1d0dc;
  margin: 0 0 20px;
}
.normal-text {
  display: inline-block;
}
.show-text {
  display: none;
}

.pool-box.show-product-dt1 .pool-head,
.pool-box.show-product-dt2 .pool-head,
.pool-box.show-product-dt3 .pool-head,
.pool-box.show-product-dt4 .pool-head,
.pool-box.show-product-dt5 .pool-head {
  background: linear-gradient(89.83deg, #d065d8 8.99%, #ff60a0 99.84%);
  border: transparent;
}
.pool-box.show-product-dt1 .pool-head h4 span,
.pool-box.show-product-dt2 .pool-head h4 span,
.pool-box.show-product-dt3 .pool-head h4 span,
.pool-box.show-product-dt4 .pool-head h4 span,
.pool-box.show-product-dt5 .pool-head h4 span {
  background: #fff;
}

.pool-box.show-product-dt1 .pool-head .normal-text {
  display: none;
}
.pool-box.show-product-dt1 .pool-head .show-text {
  display: inline-block;
}
.pool-box.show-product-dt2 .pool-head .normal-text {
  display: none;
}
.pool-box.show-product-dt2 .pool-head .show-text {
  display: inline-block;
}
.pool-box.show-product-dt3 .pool-head .normal-text {
  display: none;
}
.pool-box.show-product-dt3 .pool-head .show-text {
  display: inline-block;
}
.pool-box.show-product-dt4 .pool-head .normal-text {
  display: none;
}
.pool-box.show-product-dt4 .pool-head .show-text {
  display: inline-block;
}
.pool-box.show-product-dt5 .pool-head .normal-text {
  display: none;
}
.pool-box.show-product-dt5 .pool-head .show-text {
  display: inline-block;
}

.pool-box.show-product-dt1 .pool-head .collapse-txt1 i {
  transform: rotate(180deg);
}
.pool-box.show-product-dt2 .pool-head .collapse-txt2 i {
  transform: rotate(180deg);
}
.pool-box.show-product-dt3 .pool-head .collapse-txt3 i {
  transform: rotate(180deg);
}
.pool-box.show-product-dt4 .pool-head .collapse-txt4 i {
  transform: rotate(180deg);
}
.pool-box.show-product-dt5 .pool-head .collapse-txt5 i {
  transform: rotate(180deg);
}

.deposit-box {
  border: 1px dashed #ffffff;
  border-radius: 16px;
  padding: 15px 30px;
  height: 100%;
}
.deposit-box h2 {
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #d1d0dc;
  margin: 0 0 30px;
}
.deposit-box h2 span {
  margin-left: auto;
  margin-right: 0;
}
.deposit-box .row {
  display: flex;
  align-items: top;
}
.deposit-box h6 {
  font-weight: 600;
  font-size: 24px;
  display: flex;
  align-items: center;
  color: #deddea;
  margin: 0;
}
.deposit-box h6 span {
  margin-left: 20px;
  background: linear-gradient(89.83deg, #d065d8 8.99%, #ff60a0 99.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.deposit-box a.btn-main {
  display: block;
  width: 100%;
}

.profit-box ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 23px;
}
.profit-box ul li {
  margin-right: 40px;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #d1d0dc;
}
.profit-box ul li:last-child {
  margin: 0;
}
#protb3 .profit-box a.btn-main {
  margin: 0 auto;
}

#protb3 .pool-wrp .pool-head {
  border-color: #d065d8;
}

#protb3 .pool-wrp .pool-box.show-product-dt6 .pool-head,
#protb3 .pool-wrp .pool-box.show-product-dt7 .pool-head,
#protb3 .pool-wrp .pool-box.show-product-dt8 .pool-head,
#protb3
  .pool-wrp
  .pool-box.show-product-dt9
  .pool-head
  #protb3
  .pool-wrp
  .pool-box.show-product-dt6
  .pool-head,
#protb3 .pool-wrp .pool-box.show-product-dt7 .pool-head,
#protb3 .pool-wrp .pool-box.show-product-dt8 .pool-head,
#protb3 .pool-wrp .pool-box.show-product-dt9 .pool-head {
  background: linear-gradient(89.83deg, #d065d8 8.99%, #ff60a0 99.84%);
  border: transparent;
}

#protb3 .pool-wrp .pool-box.show-product-dt6 .pool-head h4 span,
#protb3 .pool-wrp .pool-box.show-product-dt7 .pool-head h4 span,
#protb3 .pool-wrp .pool-box.show-product-dt8 .pool-head h4 span,
#protb3 .pool-wrp .pool-box.show-product-dt9 .pool-head h4 span {
  background: #fff;
}

#protb3 .pool-wrp .pool-box.show-product-dt6 .pool-head .normal-text {
  display: none;
}
#protb3 .pool-wrp .pool-box.show-product-dt6 .pool-head .show-text {
  display: inline-block;
}
#protb3 .pool-wrp .pool-box.show-product-dt7 .pool-head .normal-text {
  display: none;
}
#protb3 .pool-wrp .pool-box.show-product-dt7 .pool-head .show-text {
  display: inline-block;
}
#protb3 .pool-wrp .pool-box.show-product-dt8 .pool-head .normal-text {
  display: none;
}
#protb3 .pool-wrp .pool-box.show-product-dt8 .pool-head .show-text {
  display: inline-block;
}
#protb3 .pool-wrp .pool-box.show-product-dt9 .pool-head .normal-text {
  display: none;
}
#protb3 .pool-wrp .pool-box.show-product-dt9 .pool-head .show-text {
  display: inline-block;
}

#protb3 .pool-wrp .pool-box.show-product-dt6 .pool-head .collapse-txt6 i {
  transform: rotate(180deg);
}
#protb3 .pool-wrp .pool-box.show-product-dt7 .pool-head .collapse-txt7 i {
  transform: rotate(180deg);
}
#protb3 .pool-wrp .pool-box.show-product-dt8 .pool-head .collapse-txt8 i {
  transform: rotate(180deg);
}
#protb3 .pool-wrp .pool-box.show-product-dt9 .pool-head .collapse-txt9 i {
  transform: rotate(180deg);
}

.pro-inner-wrp {
  padding: 100px 0 0;
}
.inner-prodata {
  padding: 0 0 0;
}
.pool-wrp {
  padding: 175px 0 250px;
}
#protb1 {
  padding: 0 0 400px;
}

.pro-inner-wrp {
  /* background-image: url(/assets/images/protocol-back.png);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat; */
}

.icons_select2 {
}
.select2-container {
  width: initial !important;
  padding-right: 50px;
}
.select2-container:before {
  position: absolute;
  content: "";
}
.select2-container--default .select2-selection--single {
  background: transparent;
  border-radius: 0;
  padding: 0;
  height: auto;
  border: none;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  font-weight: 600;
  font-size: 36px;
  display: flex;
  align-items: center;
  color: #deddea;
  padding: 0;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered
  span {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered
  span
  img {
  margin-right: 11px;
  max-width: 26px;
}

.select2-container--open .select2-dropdown--below {
  background: #0d0d0d;
  border: 2px solid #ff007a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    -12px 12px 8.34467px 1px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  width: 460px !important;
}
.select2-search--dropdown {
  padding: 35px;
  border-bottom: 1px solid #808081;
  margin: 0 0 35px;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 0.96124px solid #ffffff;
  border-radius: 16px;
  box-shadow: none;
  outline: none;
  font-weight: 400;
  font-size: 15.2471px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #acacac;
  background: transparent;
  padding: 15px 20px;
}
.select2-results__option--selectable span {
  display: flex;
  align-items: center;
}
.select2-container--default .select2-results__option--selected {
  background: transparent;
}
.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background: #ff007a;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.select2-results__option {
  padding: 12px 35px;
  font-weight: 600;
  font-size: 24px;
  display: flex;
  align-items: center;
  color: #deddea;
  text-transform: uppercase;
}
.select2-results__option img {
  max-width: 100%;
  margin-right: 12px;
}
.select2-container--default .select2-results > .select2-results__options {
  max-height: 536px;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow:before {
  position: absolute;
  content: "\f078";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  font-size: 24px;
  top: 0;
  right: 5px;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  display: none;
}

.navbar-expand-md .navbar-nav .dropdown-menu {
  background: linear-gradient(89.83deg, #d065d8 8.99%, #ff60a0 99.84%);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%),
    -12px 12px 8.34467px rgb(0 0 0 / 25%);
  border-radius: 17.037px;
  left: auto !important;
  right: 0 !important;
  padding: 3px;
  width: 100%;
}
.navbar-expand-md .navbar-nav li .dropdown-menu li {
  line-height: 25px;
}
.navbar-expand-md .navbar-nav .dropdown-menu .dropdown-item {
  font-size: 20px;
  color: #fff;
  padding: 10px 25px;
  background: transparent;
}
