@media (prefers-color-scheme: light) {
	body{background-color: white;}
	.navbar-light .navbar-nav .nav-link{color: #121212;}
	.navbar .navbar-nav>li>a:focus, 
	.navbar .navbar-nav>li>a:hover, 
	.navbar .navbar-nav>li>a:hover{color: #FF60A0;}

	.hero-data h1{color: #121212;}
	.hero-data p{color: #121212;}

	.counter-row{background: linear-gradient(89.83deg, #D065D8 8.99%, #FF60A0 99.84%);}
	.count-box p{color: #fff;background: transparent;-webkit-text-fill-color:unset;}

	.btn-main{color: #FF007A;}
	.btn-main:before{background: #fff;}

	.protocol-data h4{color: #000;}
	.protocol-data p{color: #484848;}
	.prouserlinks h6{color: #484848;}
	.polinksrow a{color: #000;}
	.polinksrow a span{border-bottom: 3px solid #000;}
	.protocol-content{background: #fff;}
	.protocol-content h2{color: #000;}
	.protocol-content h3{color: #000}
	.protocol-content p{color: #121212;}
	.protocol-govern-tabs .nav-tabs li a h4{color: #000;}
	.protocol-govern-tabs .nav-tabs li a p{color: #121212;}
	.protocol-govern-tabs .nav-tabs .nav-item.show .nav-link, 
	.protocol-govern-tabs .nav-tabs .nav-link.active{background: linear-gradient(89.83deg, #D065D8 8.99%, #FF60A0 99.84%);}
	.protocol-govern-tabs .nav-tabs .nav-link.active h4{color: #fff;}
	.protocol-govern-tabs .nav-tabs .nav-link.active p{color: #fff;}
	.quicklink ul li a{color: #121212;}
	.btn-read:hover {background: #000;color: #ff60a0;}

	.inner-header .navbar-light .navbar-nav .nav-link.publish-btn{color: #FF007A;}
	.indopbtn:after{background: #fff;}
	.protocol-tabs-bx .nav-tabs{background: #F0F0F0;}
	.protocol-tabs-bx .nav-tabs li a{color: #161522;}

	.swap-block{background: linear-gradient(89.83deg, #D065D8 8.99%, #FF60A0 99.84%);}
	.select2-container--default .select2-selection--single .select2-selection__rendered{color: #161522;}
	.select2-container--default .select2-selection--single .select2-selection__arrow:before{color: #161522;}
	.swap-box{background:#fff;}
	.swap-box h4{color: #161522;}
	.swap-box h4 small{color: #484848;}
	.swap-box h4 span{color: #484848;}
	.inner-prodata .swap-block .btn-main{background: #fff;color: #000;}
	.inner-prodata .swap-block .btn-main:hover{background: #000; color: #fff;}
	.inner-prodata .swap-info .form-group select.form-control{background-color: transparent;color: #fff;}
	.inner-prodata .swap-info .form-group select.form-control option{color: #000;}
	.select2-container--open .select2-dropdown--below{background: #fff;}
	.select2-results__option{color: #555;}
	.select2-container--default .select2-search--dropdown .select2-search__field{border-color: #555;color: #555;}

	.dropdown-block{background: #fff;}
	.dropdown-block h2{color: #161522;}
	.dropdown-block .form-group label{color: #484848;}
	.inner-prodata .dropdown-block .form-group .form-control{background: #fff;color: #808081;border: 1px solid #808081;}
	.inner-prodata .dropdown-block .form-group .slippage-input .btn-main{background: linear-gradient(89.83deg, #D065D8 8.99%, #FF60A0 99.84%);color: #fff;}
	.toggle-box h5{color: #484848;}
	.toggle-label input[type="checkbox"] + .back{background: #161522;}
	.toggle-label .label{color: #fff;}
	.toggle-label input[type="checkbox"]:checked + .back .toggle{background: #808081;}

	.pool-wrp .pool-head{border-color: #050113;}
	.pool-wrp .pool-box-last .pool-head{border-color: #050113;}
	.pool-wrp .pool-box .pool-head h4{color: #161522;}
	.pool-wrp .pool-box .pool-head ul li{color: #161512;}
	.pool-wrp .pool-box .pool-head ul li strong{color: #161512;}
	.pool-wrp .pool-box .pool-head ul li span{color: #161512;}
	.pool-wrp .pool-box .pool-head a.collapse-txt{color: #161522;}

	.pool-wrp .card.card-body{background: #F0F0F0;}
	.pool-wrp .card.card-body .fee-info h5{color: #161512;}
	.pool-wrp .card.card-body .fee-info a{color: #161512;}
	.profit-box h2{color: #24232F;}
	.profit-box h6{color: #161512;}
	.profit-box span{color: #161512;}
	.profit-box{border-color: #000000;}

	.pool-wrp .show-product-dt1 .pool-head h4,
	.pool-wrp .show-product-dt2 .pool-head h4,
	.pool-wrp .show-product-dt3 .pool-head h4,
	.pool-wrp .show-product-dt4 .pool-head h4,
	.pool-wrp .show-product-dt5 .pool-head h4,
	.pool-wrp .show-product-dt6 .pool-head h4,
	.pool-wrp .show-product-dt7 .pool-head h4,
	.pool-wrp .show-product-dt8 .pool-head h4,
	.pool-wrp .show-product-dt9 .pool-head h4{color: #fff;}

	.pool-wrp .show-product-dt1 .pool-head ul li,
	.pool-wrp .show-product-dt2 .pool-head ul li,
	.pool-wrp .show-product-dt3 .pool-head ul li,
	.pool-wrp .show-product-dt4 .pool-head ul li,
	.pool-wrp .show-product-dt5 .pool-head ul li,
	.pool-wrp .show-product-dt6 .pool-head ul li,
	.pool-wrp .show-product-dt7 .pool-head ul li,
	.pool-wrp .show-product-dt8 .pool-head ul li,
	.pool-wrp .show-product-dt9 .pool-head ul li{color: #fff;}

	.pool-wrp .show-product-dt1 .pool-head ul li strong,
	.pool-wrp .show-product-dt2 .pool-head ul li strong,
	.pool-wrp .show-product-dt3 .pool-head ul li strong,
	.pool-wrp .show-product-dt4 .pool-head ul li strong,
	.pool-wrp .show-product-dt5 .pool-head ul li strong,
	.pool-wrp .show-product-dt6 .pool-head ul li strong,
	.pool-wrp .show-product-dt7 .pool-head ul li strong,
	.pool-wrp .show-product-dt8 .pool-head ul li strong,
	.pool-wrp .show-product-dt9 .pool-head ul li strong{color: #fff;}

	.pool-wrp .show-product-dt1 .pool-head ul li span,
	.pool-wrp .show-product-dt2 .pool-head ul li span,
	.pool-wrp .show-product-dt3 .pool-head ul li span,
	.pool-wrp .show-product-dt4 .pool-head ul li span,
	.pool-wrp .show-product-dt5 .pool-head ul li span,
	.pool-wrp .show-product-dt6 .pool-head ul li span,
	.pool-wrp .show-product-dt7 .pool-head ul li span,
	.pool-wrp .show-product-dt8 .pool-head ul li span,
	.pool-wrp .show-product-dt9 .pool-head ul li span{color: #fff;}

	.pool-wrp .show-product-dt1 .pool-head  a.collapse-txt,
	.pool-wrp .show-product-dt2 .pool-head  a.collapse-txt,
	.pool-wrp .show-product-dt3 .pool-head  a.collapse-txt,
	.pool-wrp .show-product-dt4 .pool-head  a.collapse-txt,
	.pool-wrp .show-product-dt5 .pool-head  a.collapse-txt,
	.pool-wrp .show-product-dt6 .pool-head  a.collapse-txt,
	.pool-wrp .show-product-dt7 .pool-head  a.collapse-txt,
	.pool-wrp .show-product-dt8 .pool-head  a.collapse-txt,
	.pool-wrp .show-product-dt9 .pool-head  a.collapse-txt{color: #fff;}

	#protb3 .pool-wrp .pool-head{background: #fff;}
	.deposit-box{border-color: #000;}
	.deposit-box h2{color: #404040;}
	.deposit-box h6{color: #404040;}
	.profit-box ul li{color: #404040;}

	.navbar-light .navbar-nav .nav-link.publish-btn{color: #fff;}
	.navbar-light .navbar-nav .nav-link.publish-btn:hover{background: #000;color: #fff;}
}

.light-mode .navbar-light .navbar-nav .nav-link.publish-btn{color: #fff;}
.light-mode .navbar-light .navbar-nav .nav-link.publish-btn:hover{background: #000;color: #fff;}

.light-mode body{background-color: white;}
.light-mode .navbar-light .navbar-nav .nav-link{color: #121212;}
.light-mode .navbar .navbar-nav>li>a:focus, 
.light-mode .navbar .navbar-nav>li>a:hover, 
.light-mode .navbar .navbar-nav>li>a:hover{color: #FF60A0;}

.light-mode .hero-data h1{color: #121212;}
.light-mode .hero-data p{color: #121212;}

.light-mode .counter-row{background: linear-gradient(89.83deg, #D065D8 8.99%, #FF60A0 99.84%);}
.light-mode .count-box p{color: #fff;background: transparent;-webkit-text-fill-color:unset;}

.light-mode .btn-main{color: #FF007A;}
.light-mode .btn-main:before{background: #fff;}

.light-mode .protocol-data h4{color: #000;}
.light-mode .protocol-data p{color: #484848;}
.light-mode .prouserlinks h6{color: #484848;}
.light-mode .polinksrow a{color: #000;}
.light-mode .protocol-content{background: #fff;}
.light-mode .protocol-content h2{color: #000;}
.light-mode .protocol-content h3{color: #000}
.light-mode .protocol-content p{color: #121212;}
.light-mode .protocol-govern-tabs .nav-tabs li a h4{color: #000;}
.light-mode .protocol-govern-tabs .nav-tabs li a p{color: #121212;}
.light-mode .protocol-govern-tabs .nav-tabs .nav-item.show .nav-link, 
.light-mode .protocol-govern-tabs .nav-tabs .nav-link.active{background: linear-gradient(89.83deg, #D065D8 8.99%, #FF60A0 99.84%);}
.light-mode .protocol-govern-tabs .nav-tabs .nav-link.active h4{color: #fff;}
.light-mode .protocol-govern-tabs .nav-tabs .nav-link.active p{color: #fff;}
.light-mode .quicklink ul li a{color: #121212;}
.light-mode .btn-read:hover {background: #000;color: #ff60a0;}

.light-mode .navbar-light .navbar-nav .nav-link.publish-btn{color: #fff;}
.light-mode .navbar-light .navbar-nav .nav-link.publish-btn:hover{color: #fff;background: #000;}
.light-mode .indopbtn:after{background: #fff;}
.light-mode .protocol-tabs-bx .nav-tabs{background: #F0F0F0;}
.light-mode .protocol-tabs-bx .nav-tabs li a{color: #161522;}

.light-mode .swap-block{background: linear-gradient(89.83deg, #D065D8 8.99%, #FF60A0 99.84%);}
.light-mode .select2-container--default .select2-selection--single .select2-selection__rendered{color: #161522;}
.light-mode .select2-container--default .select2-selection--single .select2-selection__arrow:before{color: #161522;}
.light-mode .swap-box{background:#fff;}
.light-mode .swap-box h4{color: #161522;}
.light-mode .swap-box h4 small{color: #484848;}
.light-mode .swap-box h4 span{color: #484848;}
.light-mode .inner-prodata .swap-block .btn-main{background: #fff;}
.light-mode .inner-prodata .swap-info .form-group select.form-control{background-color: transparent;color: #fff;}
.light-mode .inner-prodata .swap-info .form-group select.form-control option{color: #000;}
.light-mode .select2-container--open .select2-dropdown--below{background: #fff;}
.light-mode .select2-results__option{color: #555;}
.light-mode .select2-container--default .select2-search--dropdown .select2-search__field{border-color: #555;color: #555;}

.light-mode .dropdown-block{background: #fff;}
.light-mode .dropdown-block h2{color: #161522;}
.light-mode .dropdown-block .form-group label{color: #484848;}
.light-mode .inner-prodata .dropdown-block .form-group .form-control{background: #fff;color: #808081;border: 1px solid #808081;}
.light-mode .inner-prodata .dropdown-block .form-group .slippage-input .btn-main{background: linear-gradient(89.83deg, #D065D8 8.99%, #FF60A0 99.84%);color: #fff;}
.light-mode .toggle-box h5{color: #484848;}
.light-mode .toggle-label input[type="checkbox"] + .back{background: #161522;}
.light-mode .toggle-label .label{color: #fff;}
.light-mode .toggle-label input[type="checkbox"]:checked + .back .toggle{background: #808081;}

.light-mode .pool-wrp .pool-head{border-color: #050113;}
.light-mode .pool-wrp .pool-box-last .pool-head{border-color: #050113;}
.light-mode .pool-wrp .pool-box .pool-head h4{color: #161522;}
.light-mode .pool-wrp .pool-box .pool-head ul li{color: #161512;}
.light-mode .pool-wrp .pool-box .pool-head ul li strong{color: #161512;}
.light-mode .pool-wrp .pool-box .pool-head ul li span{color: #161512;}
.light-mode .pool-wrp .pool-box .pool-head a.collapse-txt{color: #161522;}

.light-mode .pool-wrp .card.card-body{background: #F0F0F0;}
.light-mode .pool-wrp .card.card-body .fee-info h5{color: #161512;}
.light-mode .pool-wrp .card.card-body .fee-info a{color: #161512;}
.light-mode .profit-box h2{color: #24232F;}
.light-mode .profit-box h6{color: #161512;}
.light-mode .profit-box li span{color: #161512;}
.light-mode .profit-box{border-color: #000000;}

.light-mode .pool-wrp .show-product-dt1 .pool-head h4,
.light-mode .pool-wrp .show-product-dt2 .pool-head h4,
.light-mode .pool-wrp .show-product-dt3 .pool-head h4,
.light-mode .pool-wrp .show-product-dt4 .pool-head h4,
.light-mode .pool-wrp .show-product-dt5 .pool-head h4,
.light-mode .pool-wrp .show-product-dt6 .pool-head h4,
.light-mode .pool-wrp .show-product-dt7 .pool-head h4,
.light-mode .pool-wrp .show-product-dt8 .pool-head h4,
.light-mode .pool-wrp .show-product-dt9 .pool-head h4{color: #fff;}

.light-mode .pool-wrp .show-product-dt1 .pool-head ul li,
.light-mode .pool-wrp .show-product-dt2 .pool-head ul li,
.light-mode .pool-wrp .show-product-dt3 .pool-head ul li,
.light-mode .pool-wrp .show-product-dt4 .pool-head ul li,
.light-mode .pool-wrp .show-product-dt5 .pool-head ul li,
.light-mode .pool-wrp .show-product-dt6 .pool-head ul li,
.light-mode .pool-wrp .show-product-dt7 .pool-head ul li,
.light-mode .pool-wrp .show-product-dt8 .pool-head ul li,
.light-mode .pool-wrp .show-product-dt9 .pool-head ul li{color: #fff;}

.light-mode .pool-wrp .show-product-dt1 .pool-head ul li strong,
.light-mode .pool-wrp .show-product-dt2 .pool-head ul li strong,
.light-mode .pool-wrp .show-product-dt3 .pool-head ul li strong,
.light-mode .pool-wrp .show-product-dt4 .pool-head ul li strong,
.light-mode .pool-wrp .show-product-dt5 .pool-head ul li strong,
.light-mode .pool-wrp .show-product-dt6 .pool-head ul li strong,
.light-mode .pool-wrp .show-product-dt7 .pool-head ul li strong,
.light-mode .pool-wrp .show-product-dt8 .pool-head ul li strong,
.light-mode .pool-wrp .show-product-dt9 .pool-head ul li strong{color: #fff;}

.light-mode .pool-wrp .show-product-dt1 .pool-head ul li span,
.light-mode .pool-wrp .show-product-dt2 .pool-head ul li span,
.light-mode .pool-wrp .show-product-dt3 .pool-head ul li span,
.light-mode .pool-wrp .show-product-dt4 .pool-head ul li span,
.light-mode .pool-wrp .show-product-dt5 .pool-head ul li span,
.light-mode .pool-wrp .show-product-dt6 .pool-head ul li span,
.light-mode .pool-wrp .show-product-dt7 .pool-head ul li span,
.light-mode .pool-wrp .show-product-dt8 .pool-head ul li span,
.light-mode .pool-wrp .show-product-dt9 .pool-head ul li span{color: #fff;}

.light-mode .pool-wrp .show-product-dt1 .pool-head  a.collapse-txt,
.light-mode .pool-wrp .show-product-dt2 .pool-head  a.collapse-txt,
.light-mode .pool-wrp .show-product-dt3 .pool-head  a.collapse-txt,
.light-mode .pool-wrp .show-product-dt4 .pool-head  a.collapse-txt,
.light-mode .pool-wrp .show-product-dt5 .pool-head  a.collapse-txt,
.light-mode .pool-wrp .show-product-dt6 .pool-head  a.collapse-txt,
.light-mode .pool-wrp .show-product-dt7 .pool-head  a.collapse-txt,
.light-mode .pool-wrp .show-product-dt8 .pool-head  a.collapse-txt,
.light-mode .pool-wrp .show-product-dt9 .pool-head  a.collapse-txt{color: #fff;}

.light-mode #protb3 .pool-wrp .pool-head{background: #fff;}
.light-mode .deposit-box{border-color: #000;}
.light-mode .deposit-box h2{color: #404040;}
.light-mode .deposit-box h6{color: #404040;}
.light-mode .profit-box ul li{color: #404040;}


.light-mode .btn-main:hover:before{background: #000}
.light-mode .btn-read:hover{background: #000;color: #fff;}
.light-mode .inner-header .navbar-light .navbar-nav .nav-link.publish-btn{color: #ff007a;}
.light-mode .profit-box .btn-main{color: #FF007A;}


.dark-mode body{background-color: #04080F;}
.dark-mode .navbar-light .navbar-nav .nav-link{color: #fff;}
.dark-mode .navbar .navbar-nav>li>a:focus, 
.dark-mode .navbar .navbar-nav>li>a:hover, 
.dark-mode .navbar .navbar-nav>li>a:hover{color: #FF60A0;}

.dark-mode .hero-data h1{color: #fff;}
.dark-mode .hero-data p{color: #fff;}

.dark-mode .counter-row{background: #0E0D17;}
.dark-mode .count-box p{background: linear-gradient(89.83deg, #D065D8 8.99%, #FF60A0 99.84%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}

.dark-mode .btn-main{color: #fff;}
.dark-mode .btn-main:before{background: #04080F;}
.dark-mode .btn-read:hover {background: #fff;color: #ff60a0;}

.dark-mode .protocol-data h4{color: #fff;}
.dark-mode .protocol-data p{color: #fff;}
.dark-mode .prouserlinks h6{color: #fff;}
.dark-mode .polinksrow a{color: #fff;}
.dark-mode .polinksrow a:hover{color:#d065d8;}

.dark-mode .protocol-content{background: #0E0D17;}
.dark-mode .protocol-content h2{color: #fff;}
.dark-mode .protocol-content h3{color: #fff;}
.dark-mode .protocol-content p{color: #fff;}
.dark-mode .protocol-govern-tabs .nav-tabs .nav-item.show .nav-link, 
.dark-mode .protocol-govern-tabs .nav-tabs .nav-link.active{background: #0F131E;}
.dark-mode .protocol-govern-tabs .nav-tabs li a h4{color: #fff;}
.dark-mode .protocol-govern-tabs .nav-tabs li a p{color: #fff;}
.dark-mode .quicklink ul li a{color: #fff;}

.dark-mode .protocol-tabs-bx .nav-tabs{background: #0E0D17;}
.dark-mode .protocol-tabs-bx .nav-tabs li a{color: #fff;}
.dark-mode .pool-wrp .pool-head{border-color: #fff;}
.dark-mode .pool-wrp .pool-box .pool-head h4{color: #fff;}
.dark-mode .pool-wrp .pool-box .pool-head ul li{color: #fff;}
.dark-mode .pool-wrp .pool-box .pool-head ul li strong{color: #fff;}
.dark-mode .pool-wrp .pool-box .pool-head ul li span{color: #fff;}
.dark-mode .pool-wrp .pool-box .pool-head a.collapse-txt{color: #fff;}

.dark-mode .pool-wrp .card.card-body{background: #0E0D17;}
.dark-mode .pool-wrp .card.card-body .fee-info h5{color: #DEDDEA;}
.dark-mode .pool-wrp .card.card-body .fee-info a{color: #DEDDEA;}
.dark-mode .profit-box h2{color: #D1D0DC;}
.dark-mode .profit-box{border-color: #FFFFFF;}
.dark-mode .profit-box h6{color: #fff;}
.dark-mode .profit-box span{color: #fff;}

.dark-mode #protb3 .pool-wrp .pool-head{background: #04080F;}
.dark-mode .deposit-box h2{color: #D1D0DC;}
.dark-mode .deposit-box h6{color: #D1D0DC;}
.dark-mode .profit-box ul li{color: #D1D0DC;}
.dark-mode .swap-block{background: #0e0d17;}
.dark-mode .swap-box{background: #04080f;}
.dark-mode .select2-container--default .select2-selection--single .select2-selection__rendered{color: #fff;}
.dark-mode .swap-box h4{color: #fff;}
.dark-mode .swap-box h4 small,.dark-mode .swap-box h4 span{color: #fff;}
.dark-mode .select2-container--default .select2-selection--single .select2-selection__arrow:before{color: #fff;}

.dark-mode .btn-main:hover:before{opacity: 0;}
.dark-mode .indopbtn:after{background: #04080f;}

.dark-mode .select2-container--open .select2-dropdown--below{background: #0d0d0d;}
.dark-mode .select2-results__option{color: #fff;}
.dark-mode .inner-prodata .swap-block .btn-main{background: linear-gradient(89.83deg, #d065d8 8.99%, #ff60a0 99.84%);color: #fff;}

.dark-mode .dropdown-block{background: #0d0d0d;}
.dark-mode .dropdown-block h2{color: #deddea;}
.dark-mode .dropdown-block .form-group label{color: #fff;}
.dark-mode .inner-prodata .dropdown-block .form-group .form-control{background: #0d0d0d;color: #808081;border: 1px solid #d5d6d8;}
.dark-mode .inner-prodata .dropdown-block .form-group .slippage-input .btn-main{background: linear-gradient(89.83deg, #D065D8 8.99%, #FF60A0 99.84%);color: #fff;}
.dark-mode .toggle-box h5{color: #ffffff;}
.dark-mode .toggle-label input[type="checkbox"] + .back{background: #deddea;}
.dark-mode .toggle-label .label{color: #0d0d0d;}
.dark-mode .toggle-label input[type="checkbox"]:checked + .back .toggle{background: #04080f;}


.dark-mode .navbar-light .navbar-nav .nav-link.publish-btn:hover{background: #fff;color: #000;}
